<div class="tradingview-widget-container">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
    {
        "autosize": true,
        "symbol": "{{ symbol }}",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "{{ graph_theme }}",
        "style": "1",
        "locale": "en",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "calendar": false,
        "hide_side_toolbar": false,
        "watchlist": [
            "FX:EURUSD"
        ],
        "hotlist": true,
        "support_host": "https://www.tradingview.com"
    }
    </script>
</div>